* {
    font-family: "RobotoDraft";
}
.body {
    height: 100vh;
}
#toolbar {
    background-color:          #3e50b4;
    height: 10vh;
}
#search-icon {
    color:          #ddd;
}
#search-field {
    width:          30%;
    min-width:      200px;
    border:         solid;
    border-width:   1px;
    border-color:   #999;
    padding:        5px;
    font-weight:    100;
    font-size:      90%;
}
#search-field:hover {
    color:              #ddd;
    background-color:   #4456b9;
    border-color:       #ddd;
}
#map-container {
    float:left;
    width:75%;
    height: 90vh;
}
#sidebar {
    background-color: #eee;
    display: block;
    float:right;
    min-width: 25%;
    height: 90vh;
}
.sidebar-banner {
    display: block;
    height:100px;
    width:80%;
    margin: auto;
    margin-top:15px;
}
.sidebar-icon {
    float:left;
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.sidebar-title {
    display:block;
    padding-left:100px;
    padding-top:20px;
}
#sidebar-stats {
    margin:15px;
    padding-top:15px;
    border-top: solid;
    border-color: #ccc;
}
#sidebar-stats h1 {
    color: #333;
    text-transform: uppercase;
}
#sidebar-stats table {
    margin-top:15px;
}
#sidebar-stats table tr > td, th {
    padding-bottom:15px;
}
#sidebar-stats table th {
    width: 140px;
    font-weight: normal;
    text-align: left;
}
#sidebar-stats table td {
    text-align: left;
    width:15px;
}
#sidebar-stats table td.data {
    text-align: right;
    width: 120px;
    padding-right:4px;
}